*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.card{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 230px;
    border: 1px solid black;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;

}

#card1{
    z-index: 10;
    background-color: salmon;
}

#card2{
    z-index: 4;
    rotate: -7deg;
    background-color: red;
}

#card3{
    z-index: 3;
    rotate: -14deg;
    background-color: green;
}

#card4{
    z-index: 1;
    rotate: -21deg;
    background-color: yellow;
}

#card2:hover{
    z-index: 11;
}

#card3:hover{
    z-index: 11;
}

#card4:hover{
    z-index: 11;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}